* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
    text-align: center;
    font-size: 15px;



}


.container {
    width: 100%;
    max-width: 302px;
    height: 100%;
    max-height: 470px;
    box-shadow: 0px 10px 20px 0px rgba(0 0 0 / 10%);
    background-color: hsl(0, 0%, 100%);
    position: fixed;
    margin: auto;
    padding-bottom: 3rem;
    inset: 0;
    border-radius: 16px;
    padding: 1rem;


}

.container img {
    width: 100%;
    border-radius: 10px;

}

h3 {
    color: hsl(218, 44%, 22%);
    margin-top: 1rem;
    font-weight: 700;
}

p {
    color: hsl(220, 15%, 55%);
    margin-top: 1rem;
    font-weight: 400;

}